@model IEnumerable<CollegeApp.Dtos.MoldPurpose.MoldPurposeDto>

@{
    ViewData["Title"] = "Mold Purposes";
}

<h1>Mold Purposes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Purpose
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PurposeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MoldPurposeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MoldPurposeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MoldPurposeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
